<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm border-0 rounded-4 card-purple">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4" style="color: var(--btn-bg)">
                        ➕ Añadir Nueva Tarea
                    </h4>

                    <form>
                        <div class="mb-3">
                            <label for="tareaTexto" class="form-label">¿Qué necesitas hacer?</label>
                            <input type="text" #tareaTexto id="tareaTexto" class="form-control" placeholder="Escribe una tarea"
                                 />
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-purple" (click)="agregarTareaform(tareaTexto.value)">
                                Añadir Tarea
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>