<div class="container py-4">
  <button class="btn btn-outline-secondary" (click)="toggleTheme()">
    {{ tema === 'light' ? '🌙 Modo Noche' : '☀️ Modo Día' }}
  </button>

  <!-- 1) Lista de tareas -->
  <app-tarea-list></app-tarea-list>

  <!-- 2) Botón para mostrar el formulario -->
  <div class="text-center mt-4">
    <button class="btn btn-purple btn-lg" (click)="mostrarFormulario = true" *ngIf="!mostrarFormulario">
      ➕ Añadir Tarea
    </button>
  </div>

  <!-- 3) Formulario (mostrar/ocultar) -->
  <div *ngIf="mostrarFormulario">
    <app-tarea-form></app-tarea-form>
    <div class="text-center mt-3">
      <button class="btn btn-outline-secondary" (click)="mostrarFormulario = false">
        ← Volver a la Lista
      </button>
    </div>
  </div>

</div>


<router-outlet />